﻿@{
    Layout = null;
    ViewBag.Title = "Main";
}

<h2>Welcome to Awwworama!</h2>
<input type="text" ng-model="subreddit" /><input type="button" ng-click="fetchSubreddit(subreddit)" />

<img src="~/Content/img/477.gif" ng-show="loading" />

<div ng-repeat="post in posts">
    <div class="imgContainer">
        {{post.title}}
        <br />
        <a href="{{post.url}}"><img class="displayImg" ng-src="{{post.url}}" /></a>        
    </div>
</div>