﻿.displayImg {
    max-width: 200px;
    max-height: 200px;
}

.imgContainer {
    float: left;
    margin: 10px;
    border: 5px black solid;
    width: 220px;
    height: 300px;
    text-align:center;
}
